

.container{

    width: 1024px;
    margin: 0 auto;

}

body,html {
background-color: #efeee7;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #333333;  
margin: 0;
padding: 0;

}

header {
    background-color: #333333;  
    text-align: center;
    color:rgb(62, 20, 230);    
}


h1{
    color: #eee;
    font-size: 28px;
    background-color: #333333; 
    text-align: center;
}

h2{
    font-size: 24px;
    text-align: center;
}

#main-bio {
    float:left;

}

#bio-image {
    float:left;
    width: 70%;

}
#contact-info {
    float:left;
    width: 30%;
    color: aqua;

}
